/* Reset */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
   
}

a {
  color: inherit; /* serve pra cor herdar e pular todas as outras coisas */
  text-decoration: none;
}



/* Header */
.header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link:hover{
  text-decoration: underline;
}


